<ion-content [forceOverscroll]="false">
  <ion-slides #slides pager="true" [options]="slideOpts" (ionSlideWillChange)="slideWillChange()">
    <ion-slide *ngFor="let src of onBoardingSources">
      <app-on-boarding-slide
        [heading]="src.heading"
        [text]="src.text"
        [animationName]="src.animationName"
      ></app-on-boarding-slide>
    </ion-slide>
  </ion-slides>
  <ion-button class="next" (click)="onButtonClick()">
    <ion-icon *ngIf="!reachEnd; else startApp" name="chevron-forward-outline"></ion-icon>
    <ng-template #startApp>Start</ng-template>
  </ion-button>
  <ion-button color="dark" fill="clear" class="skip" (click)="slideToLast()">
    Skip
  </ion-button>
</ion-content>
